/* AppComponent's private CSS styles */
h1{
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  background-color: #b78460 ;
  border-radius: 20px;
}
h1:hover{
  color: black;
}
  body{
    background-color:darkseagreen;
    ;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    color: ghostwhite;
    background-color:  #0B4141;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a.active {
    background-color: #42545C;
  }
  footer {
    text-align: center;
    font-size: 30px;
    
    border-radius: 20px;
    background-color: #b78460;
    color: white;
  }
  footer:hover{
      color: black ;
  }