/* MessagesComponent's private CSS styles */
h2 {
    color: #A80000;
    font-family:  Helvetica;
    font-weight: lighter;
  }
  
  .clear {
    color:whitesmoke;
    background-color:#0B4141;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: white;
    background-color:black;
  }